body {
    background-color: rgb(23, 26, 27);
    background-image: url(https://www.freecodecamp.org/news/content/images/size/w2000/2022/06/linkHTMLCSS.png);
    background-size: 150px;
    width: 300px;
    height: 300px;
    border: 3px solid;
    color: black;
    background-position-x: right
}

/*title of the website*/
h1 {
    color: rgb(243, 242, 242);
    font-size: 80px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/*begginig of the website*/
div,
a,
p,
span,
h2,
h3,
h4 {
    color: cornsilk;
    font-size: 30px;
    font-family: cursive;
}
